@model Conference.Models.ViewModels.UsersListViewModel

@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Conference participants </h2>
<div>
    @Html.LabelFor(model => model.SortingProperties, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.SortingProperties, new SelectList(Model.SortingProperties.ToDictionary(x => x.Id, x => x.DisplayName), "Key", "Value"), "--Select--", new { @id = "sortingPropertyInput" })
    </div>
</div>
<div id="usersList">
    @{ Html.RenderPartial("UsersListPartial", Model); }
</div>


@section Scripts {
    @Scripts.Render("~/Content/UsersList.Js")
}


